/* =================================
  Flexbox
====================================*/

nav ul {
	display: none;
}


.stories {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	}

.landingphoto {
	display: flex;
}

.smallphoto {
	display: flex;
}

.buttons {
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {
		nav {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap-reverse;
			align-items: center;
		}

		.stories {
			flex-direction: row;
		}

		.pdfs {
			flex-direction: row;
			display: flex;
		}

		#container {
			width: 80%;
			margin: 0 auto;
		}
		.buttons {
			flex-direction: row;
		}
}

@media (min-width:800px) {
	.item-1 {
		margin-right: auto;
		}

.footer {
	display: flex;
	flex-direction: column;
}

@media (min-width: 400px) {
		.footer {
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap-reverse;
			align-items: center;
		}


/* grid functions */

/* javascript functinos */

.menu-trigger {
   font-size: 1.75em;
   width: 2em;
 }


@media screen and (min-width:600px) {
  nav ul {
		 display: flex;
		 background: #193446;
	 	 width: 100%;
	 	 padding: 10px;
		 margin: 15px;
	 }


  .menu-trigger {
	   display: none;
	 }


}
