/* =================================
  Flexbox
====================================*/

nav ul {
	display: none;
}

#container {
	width: 95%;
	margin: 0 auto;
}

.landingphoto {
	display: flex;
}

.smallphoto {
	display: flex;
	align-items: center;
}

.buttons {
	display: flex;
	flex-direction: column;
}

.authorbox2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.authorbox {
	display: row;
	flex-direction: column;
	justify-content: space-between;
}
.authorbox img {
	display: none;
}

.stories {
	display: flex;
	flex-direction: column;
	flex-wrap:wrap;
	/*
	max-width: 90%;
	grid-gap: 0;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		"a"
		"c"
		"b"
		"d"
	} */

}


@media (min-width: 600px) {
		nav {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap-reverse;
			align-items: center;
		}

		.pdfs {
			flex-direction: row;
			display: flex;
		}

		#container {
			width: 90%;
			margin: 0 auto;
		}
		.buttons {
			flex-direction: row;
			justify-content: center;
		}

		.authorbox{
			display: flex;
			flex-direction: column;
			justify-content:flex-start;

		}
		.authorbox img {
			display: block;
	    margin-top: .5em;
		}

		.authorbox2{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			max-width: 900px;
		}

		article {
			padding: 20px;
			max-width: 900px;
		}

		.smallphoto {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 20px;
			padding-bottom: 10px;
		}
}

@media (min-width:800px) {
	.item-1 {
		margin-right: auto;
		}

.footer {
	display: flex;
	flex-direction: column;
}

@media (min-width: 400px) {
		.footer {
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap-reverse;
			align-items: center;
		}


/* grid functions */



/* javascript functinos */

.menu-trigger {
   font-size: 2em;
   width: 4em;
	 height: 3em;
 }


@media screen and (min-width:600px) {
  nav ul {
		 display: flex;
		 background: #193446;
	 	 width: 100%;
	 	 padding: 10px;
		 margin: 15px;
	 }


  .menu-trigger {
	   display: none;
	 }


	 .stories {
		 flex-direction: row;
		 display: flex;
		 flex-wrap: wrap;
	 }

	 /* article {
	  display: grid;
	  grid-template-columns: 500px 1fr 1fr;
	  grid-template-areas:
	 	 "a a a"
	 	 "b c ."
		 "d d d";
	  }

	 	 .section1 {
	 		 grid-area: a;
	 	 }
	 	 .ad1 {
	 		 grid-area: b;
	 	 }
	 	 .ad2 {
	 		 grid-area: c;
	 	 }
	 	 .section2 {
	 		 grid-area: d;
	 	 } */
}


@media screen and (min-width:1250px) {

.indexbody {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	width: 100%;
	grid-template-areas:
	"a b z"
	"c d y";


}
		.homestory1 {
			grid-area: a;
		}

		.homestory2 {
			grid-area: b;
		}

		.homestory3 {
			grid-area: c;
		}

		.homestory4 {
			grid-area: d;
		}

		.ad {
			grid-area: z;
		}
		.ad2 {
			grid-area: y;
		}

	}

	@media screen and (min-width:1000px) {

	.articlebody {
		display: grid;
		grid-template-columns: .25fr 900px 1fr;
		grid-gap: 20px;
		width: 100%;
		grid-template-areas:
		"a b z"
		". c y"
		". d e"
		". f .";


	}
			.authorbox {
				grid-area: a;
			}

			.section1 {
				grid-area: b;
			}

			.section2 {
				grid-area: c;
			}

			.section3 {
				grid-area: d;
			}
			.sectionimg {
				grid-area: e;
			}
			.section5 {
				grid-area: f;
			}

			.ad1 {
				grid-area: z;
			}
			.ad2 {
				grid-area: y;
			}

		}
/*
	 .stories {
		display: grid;
		grid-template-columns: 200px 1fr 1fr;
    grid-template-areas:
			"a c c"
			"b d d";
		}

			.homestory1photo {
				grid-area: a;
			}
			.homestory2photo {
				grid-area: b;
			}
			.homestory1text {
				grid-area: c;
			}
			.homestory2text {
				grid-area: d;
			}


}
*/
