/* =================================
  Flexbox
==================================== */

.navcontainer {
	display: flex;
	flex-direction: column;
}

.homearticle {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	}

.landingphoto {
	display: flex;
}

.smallphoto {
	display: flex;
}

.pdfs {
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {
		.navcontainer {
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap-reverse;
		}

		.homearticle {
			flex-direction: row;
		}

		.pdfs {
			flex-direction: row;
		}
}
