p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.1em;
	font-weight: normal;
	color: black;
}


h1 {
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 2.2em;
	color: #193446;
}

h2 {
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1.6em;
	color: black;
}


/*a:link, a:visited {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 1em;
	color: #d57070;
	text-decoration: none;
}

a:hover, a:active {
	color: #70d5d5;
}  */

#container {
	width: 95%;
	margin: 0 auto;
}

#nav {
	padding: 0;
}

#nav a:link, #nav a:visited {
	color: #FFF;
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: 700;
	text-decoration: none;
}

#nav a:hover, #nav a:active {
	color: #C4D4E0;
}


#footer {
	color: #FFF;
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.1em;
	background-color: #193446
}

#footer a:link, #footer a:visited {
	color: #FFF;
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: 400;
	text-decoration: none;
	font-size: .9em;
}

#footer a:hover, #footer a:active {
	color: #C4D4E0;
}

.navcontainer {
	/*background: #C4D4E0; */
	background: #193446;
  /*border-radius: 5px;
	margin: 45px auto; */

}

.navitem {
	color: #000;
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: 700;
	padding: 15px;
	margin: 5px;
	background: #193446;
	border-radius: 7px;
}

.headline {
	margin-bottom: 0;
}

.smallphoto {
	padding: 20px;
	width: 360px;
	height: auto;
}

.PDF {
	height: 500px;
	width: auto;
	padding: 10px;
}

#pdf a:hover {
	opacity: 0.3;
}

.social {
	height: 30px;
	width: auto;
}

.caption {
	font-size: .8em;
	color: #8b8b8b;
	font-style: italic;
	font-family: Georgia, "Times New Roman", serif;
}

.date {
	font-size: .95em;
	color: black;
	font-weight: normal;
	font-family: "Montserrat", Helvetica, sans-serif;
}
/* I tried to make this work for mobile and web but it wasn't working... so I left it out for now
.articletext {
	padding-right: 600px;
}
*/

#button a:link, a:visited {
	font-size: 1.2em;
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

#button a:hover {
	color: #C4D4E0;
}

#button {
	background-color: #193446;
  border-radius: 5px;
	margin: 10px auto;
	max-width: 300px;
	max-height: 150px;
	text-align: center;
	padding: 15px 32px;
}
