p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.1em;
	font-weight: normal;
	color: black;
}


h1 {
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 2.2em;
	color: #193446;
}

h2 {
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1.6em;
	color: black;
}

header {
    background: blue;
    background-image: url("../Assets/splashphoto.png");
    background-size: cover;
    padding: 2em;
    /* width: 100vw; */
    height: 100vh;
		/* display: flex; */
}

/* header img {
	display: flex;
} */

header h1{
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 2.5em;
	color: white;
	margin-top: 410px;
	text-shadow: 2px 2px 5px #000000;
}

header p{
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.8em;
	font-weight: normal;
	color: white;
	margin-top: 15px;
	text-shadow: 2px 2px 5px #000000;
}

header #button {
	margin-top: 20px;
}


body {
    margin:0;
}

a h1:hover, a h1:active {
	color: #5D7B8F;
}

a h2:hover, a h2:active {
	color: #5D7B8F;
}

a p {
	color: #193446;
	text-decoration: underline;
}
a p:hover, a p:active {
	color: #5D7B8F;
	text-decoration: underline;
}

.smallphoto:hover {
	opacity: 0.3;
}

a {
	text-decoration: none;
}

.stories  {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}

.stories:last-of-type {
  border-bottom: none;
}


/* #container {
	width: 100%;
	margin: 0 auto;
} */


nav li {
	list-style: none;
}

nav a:link, nav a:visited {
	color: white;
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: 700;
	text-decoration: none;
}

.item-1 {
	font-size: 1.2em;
}

nav a:hover, nav a:active {
	color: #C4D4E0;
}


#footer {
	color: #FFF;
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.1em;
	background-color: #193446
}

#footer a:link, #footer a:visited {
	color: #FFF;
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: 400;
	text-decoration: none;
	font-size: .9em;
}

#footer a:hover, #footer a:active {
	color: #C4D4E0;
}

.footer-item {
	padding: 10px;
	align-self: center;
}


nav li {
	color: #000;
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: 700;
	padding: 5px;
	margin: 10px;
	background: #193446;

}

.head {
	background: #193446;
}

.headline {
	margin-bottom: 0;
}

.smallphoto {

	width: 360px;
	height: auto;
}


.PDF {
	height: 400px;
	width: auto;
	padding: 10px;
}

#pdf a:hover {
	opacity: 0.3;
}



.social {
	height: 30px;
	width: auto;
}

.caption {
	font-size: .8em;
	color: #8b8b8b;
	font-style: italic;
	font-family: Georgia, "Times New Roman", serif;
}

.date {
	font-size: .95em;
	color: black;
	font-weight: normal;
	font-family: "Montserrat", Helvetica, sans-serif;
}

.authorbox{
	margin-top: 0.5em;
}

.authorbox img {
	max-width: 200px;
	margin: 10px;
}

article {
	margin-left: 10px;
	margin-right: 10px;
}

article p {
	line-height: 1.4em;
}

#button a:link, a:visited {
	font-size: 1.2em;
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: bold;
	color: white;
}

#button a:hover {
	color: #193446;
	background-color: #C4D4E0;
	border-radius: 5px;
	padding: 15px;
}

#button {
	background-color: #193446;
  border-radius: 5px;
	margin: 10px;
	max-width: 300px;
	max-height: 150px;
	text-align: center;
	padding: 15px;
}
